name: PR Check
on:
  pull_request:
    paths-ignore:
      - '*.md'
      - 'LICENSE.md'
permissions:
  contents: read
jobs:
  test-pr:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # ratchet:actions/checkout@v6
      - uses: jdx/mise-action@146a28175021df8ca24f8ee1828cc2a60f980bd5 # ratchet:jdx/mise-action@v3
      - uses: actions/setup-go@4dc6199c7b1a012772edbd06daecab0f50c9053c # ratchet:actions/setup-go@v6
        with:
          go-version-file: 'go.mod'
      - run: mise run check
      - run: mise run test
